{% set prevPage = '' %}
{% set prevParent = '' %}

<ul class="js-lims lims">

{% for page in pages %}

    {% if page.post_parent == prevPage %}
        <ul>
    {% elseif prevParent != '' %}
        {% if page.post_parent != prevParent %}
            </li></ul></li>
        {% else %}
            </li>
        {% endif %}
    {% endif %}

    <li>
    {% if page.thumbnail %}
        <img alt="{{ page.post_full_title }}" src="{{ page.thumbnail }}" />
    {% endif %}
    <a title="{{ page.post_full_title }}" href="{{ page.guid }}">{{ page.post_title }}</a>

    {% set prevPage = page.ID %}
    {% set prevParent = page.post_parent %}

{% endfor %}

</li>
</ul>