{{ args.before_widget }}

<div class="widget-text wp_widget_plugin_box">

{{ args.before_title }} {{ __('Subpages', 'text_domain') }} {{ args.after_title }}

{% include 'partials/subpages.twig' %}

</div>

{{ args.after_widget }}