$btn-color: #DDD;

.lims-controller {
    display: inline-block;
    padding: 0 0.5em;
    color: #000;
    font-weight: bold;
    border-radius: 2em;
    cursor: pointer;
    background: $btn-color;
}

.lims-controller:hover {
    background: darken($btn-color, 10%);
}

.lims-toggler-do-close:after {
    content: "-";
}

.lims-toggler-do-open:after {
    content: "+";
}

.lims-sorter-do-desc:after {
    content: "\2191";
}

.lims-sorter-do-asc:after {
    content: "\2193";
}

.lims img {
    height: 1em !important;
}